p {
    font-family: 'Times New Roman', Times, serif;
}
  
  
#heading{
  
    text-align: center;
    border: 2.5px solid black;
    border-right: 0;
    border-top: 0;
    color:black;
    margin:0;
    width:100px;
    float:right;
}
  
#info{
    padding: 35px 10px 10px 10px;
    clear:left;
}
  
section div:nth-child(1) h2{
    background-color: lightsalmon;
}
  
section div:nth-child(2) h2{
    background-color: mediumorchid ;
}
  
section div:nth-child(3) h2{
    background-color: rgb(240, 243, 40) ;
}
  
